.post-item {
    background-color: #dfdfdf;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    padding: .5vw;
    margin: .5vw;
    width: 25vw;
    font-size: 1.2vw;
}

.post-item:hover {
    background-color: lightgreen;
}

.description {
    font-size: .7vw;
}

.button {
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2vw;
    height: 5vh;
    width: 15vw;
    background-color: lightskyblue;
}

.button:hover {
    background-color: rgb(79, 193, 231);
    cursor: pointer;
}

.add-post-form {
    display: flex;
    flex-direction: column;
    width: 25vw;
    height: 40vh;
    background-color: #dfdfdf;
    font-family: Arial, Helvetica, sans-serif;
    padding: .5vw;
    margin: .5vw auto;
    font-size: 1.2vw;
    text-align: center;
}

.add-post-form input {
    font-size: 1.2vw;
    font-family: Arial, Helvetica, sans-serif;
    width: 20vw;
    margin: .5vw auto;
    
}

.form-button {
    display: block;
    margin: .5vh auto;
}

.pagination-block {
    display: flex;
    flex-direction: row;
    display: block;
    margin: 0 auto;
    height: 5vh;
}

.pagination-item {
    list-style: none;
    background-color: lightskyblue;
    font-size: 1.5vw;
    margin: .2vw;
    width: 2vw;
    height: 4vh;
    text-align: center;
    padding: .1vw;
    border: none;
}

.pagination-item:hover {
    background-color: rgb(79, 193, 231);
    cursor: pointer;
}

.posts-block {
    height: 82vh;
    overflow-y: auto;
}

.posts-block {
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.posts-block::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.direction-btn {
    background-color: lightskyblue;
    font-size: 1.5vw;
    margin: .2vw;
    width: 2vw;
    height: 4vh;
    text-align: center;
    padding: .1vw;
    border: none;
}

.search-block {
    width: 40vw;
}